body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:951px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:7px;
  top:100px;
  width:73px;
  height:16px;
  color:#1E1E1E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:365px;
  top:100px;
  width:73px;
  height:16px;
  color:#1E1E1E;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:439px;
  top:95px;
  width:83px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:563px;
  top:100px;
  width:73px;
  height:16px;
  color:#1E1E1E;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:637px;
  top:95px;
  width:83px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:7px;
  top:35px;
  width:100px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u9 {
  position:absolute;
  left:107px;
  top:35px;
  width:100px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:0px;
  top:452px;
  width:951px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:947px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1px;
  top:1px;
  width:950px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:7px;
  top:6px;
  width:158px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:200px;
  top:100px;
  width:73px;
  height:16px;
  color:#1E1E1E;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:259px;
  top:95px;
  width:83px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:73px;
  top:96px;
  width:117px;
  height:22px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
