body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:635px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:4px;
  top:5px;
  width:120px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:136px;
  top:7px;
  width:128px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1px;
  top:451px;
  width:305px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:143px;
  top:457px;
  width:157px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:13px;
  top:63px;
  width:97px;
  height:20px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:128px;
  top:60px;
  width:166px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:108px;
  top:290px;
  width:91px;
  height:20px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:13px;
  top:108px;
  width:91px;
  height:20px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:128px;
  top:105px;
  width:166px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:330px;
  top:70px;
  width:305px;
  height:130px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:130px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:13px;
  top:153px;
  width:91px;
  height:20px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:128px;
  top:150px;
  width:166px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:78px;
  top:220px;
  width:150px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
