body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:31px;
  top:5px;
  width:944px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:940px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:10px;
  width:122px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:136px;
  top:12px;
  width:62px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:198px;
  top:12px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:312px;
  top:12px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:428px;
  top:12px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:538px;
  top:12px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:649px;
  top:12px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:747px;
  top:12px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:841px;
  top:12px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:456px;
  width:945px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:945px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:941px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:822px;
  top:462px;
  width:132px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
