body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:4px;
  top:5px;
  width:120px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:136px;
  top:7px;
  width:164px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1px;
  top:451px;
  width:308px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:144px;
  top:457px;
  width:162px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:22px;
  top:44px;
  width:78px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:112px;
  top:39px;
  width:179px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:22px;
  top:149px;
  width:90px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:112px;
  top:148px;
  width:179px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:22px;
  top:108px;
  width:78px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:112px;
  top:107px;
  width:179px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:22px;
  top:217px;
  width:73px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:112px;
  top:216px;
  width:179px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:22px;
  top:182px;
  width:90px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:112px;
  top:181px;
  width:179px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:22px;
  top:257px;
  width:83px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:112px;
  top:256px;
  width:179px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:22px;
  top:73px;
  width:78px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:112px;
  top:70px;
  width:180px;
  height:27px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:27px;
  background-image:;
  background-color:#CCFFCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
}
#u31 {
  position:absolute;
  left:370px;
  top:27px;
  width:178px;
  height:46px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:46px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:370px;
  top:169px;
  width:178px;
  height:49px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:49px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:581px;
  top:164px;
  width:199px;
  height:60px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:60px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:581px;
  top:18px;
  width:199px;
  height:63px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:63px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:195px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:370px;
  top:50px;
  width:-80px;
  height:0px;
}
#u39_seg0 {
  position:absolute;
  left:-84px;
  top:-10px;
  width:94px;
  height:20px;
}
#u40 {
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:548px;
  top:50px;
  width:33px;
  height:0px;
}
#u41_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:47px;
  height:20px;
}
#u42 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:459px;
  top:134px;
  width:0px;
  height:35px;
}
#u43_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:49px;
}
#u44 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:370px;
  top:243px;
  width:178px;
  height:49px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:49px;
}
#u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:370px;
  top:88px;
  width:178px;
  height:46px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:46px;
}
#u48 {
  position:absolute;
  left:2px;
  top:15px;
  width:174px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:548px;
  top:194px;
  width:33px;
  height:0px;
}
#u49_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:47px;
  height:20px;
}
#u50 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:459px;
  top:218px;
  width:0px;
  height:25px;
}
#u51_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:39px;
}
#u52 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:459px;
  top:73px;
  width:0px;
  height:15px;
}
#u53_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:29px;
}
#u54 {
  position:absolute;
  left:-50px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:370px;
  top:111px;
  width:-78px;
  height:-27px;
}
#u55_seg0 {
  position:absolute;
  left:-40px;
  top:-10px;
  width:44px;
  height:20px;
}
#u55_seg1 {
  position:absolute;
  left:-40px;
  top:-37px;
  width:20px;
  height:47px;
}
#u55_seg2 {
  position:absolute;
  left:-82px;
  top:-37px;
  width:62px;
  height:20px;
}
#u56 {
  position:absolute;
  left:-80px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:370px;
  top:194px;
  width:-79px;
  height:-72px;
}
#u57_seg0 {
  position:absolute;
  left:-40px;
  top:-10px;
  width:44px;
  height:20px;
}
#u57_seg1 {
  position:absolute;
  left:-40px;
  top:-82px;
  width:20px;
  height:92px;
}
#u57_seg2 {
  position:absolute;
  left:-83px;
  top:-82px;
  width:63px;
  height:20px;
}
#u58 {
  position:absolute;
  left:-80px;
  top:-54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:370px;
  top:268px;
  width:-80px;
  height:0px;
}
#u59_seg0 {
  position:absolute;
  left:-84px;
  top:-10px;
  width:94px;
  height:20px;
}
#u60 {
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:581px;
  top:223px;
  width:199px;
  height:90px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:90px;
}
#u62 {
  position:absolute;
  left:2px;
  top:5px;
  width:195px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:548px;
  top:268px;
  width:33px;
  height:0px;
}
#u63_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:47px;
  height:20px;
}
#u64 {
  position:absolute;
  left:-34px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:370px;
  top:194px;
  width:-80px;
  height:-34px;
}
#u65_seg0 {
  position:absolute;
  left:-70px;
  top:-10px;
  width:74px;
  height:20px;
}
#u65_seg1 {
  position:absolute;
  left:-70px;
  top:-44px;
  width:20px;
  height:54px;
}
#u65_seg2 {
  position:absolute;
  left:-84px;
  top:-44px;
  width:34px;
  height:20px;
}
#u66 {
  position:absolute;
  left:-107px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:370px;
  top:194px;
  width:-79px;
  height:0px;
}
#u67_seg0 {
  position:absolute;
  left:-83px;
  top:-10px;
  width:93px;
  height:20px;
}
#u68 {
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:370px;
  top:194px;
  width:-78px;
  height:36px;
}
#u69_seg0 {
  position:absolute;
  left:-70px;
  top:-10px;
  width:74px;
  height:20px;
}
#u69_seg1 {
  position:absolute;
  left:-70px;
  top:-10px;
  width:20px;
  height:56px;
}
#u69_seg2 {
  position:absolute;
  left:-82px;
  top:26px;
  width:32px;
  height:20px;
}
#u70 {
  position:absolute;
  left:-107px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
