body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:951px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:1px;
  width:950px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:7px;
  top:6px;
  width:122px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:112px;
  top:8px;
  width:62px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:174px;
  top:8px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:288px;
  top:8px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:404px;
  top:8px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:514px;
  top:8px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:625px;
  top:8px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:723px;
  top:8px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:817px;
  top:8px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:452px;
  width:951px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:947px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:809px;
  top:458px;
  width:133px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:9px;
  top:90px;
  width:947px;
  height:132px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:80px;
  top:0px;
  width:91px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:171px;
  top:0px;
  width:70px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:241px;
  top:0px;
  width:82px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:323px;
  top:0px;
  width:73px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:396px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:446px;
  top:0px;
  width:37px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:33px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:483px;
  top:0px;
  width:47px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:530px;
  top:0px;
  width:53px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:583px;
  top:0px;
  width:79px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:662px;
  top:0px;
  width:72px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:734px;
  top:0px;
  width:74px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:808px;
  top:0px;
  width:67px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:875px;
  top:0px;
  width:67px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:30px;
  width:80px;
  height:22px;
  font-size:12px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:80px;
  top:30px;
  width:91px;
  height:22px;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:171px;
  top:30px;
  width:70px;
  height:22px;
  font-size:12px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
}
#u58 {
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:241px;
  top:30px;
  width:82px;
  height:22px;
  font-size:12px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:78px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:323px;
  top:30px;
  width:73px;
  height:22px;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u62 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:396px;
  top:30px;
  width:50px;
  height:22px;
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u64 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:446px;
  top:30px;
  width:37px;
  height:22px;
  font-size:12px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u66 {
  position:absolute;
  left:2px;
  top:4px;
  width:33px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:483px;
  top:30px;
  width:47px;
  height:22px;
  font-size:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
}
#u68 {
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:530px;
  top:30px;
  width:53px;
  height:22px;
  font-size:12px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:583px;
  top:30px;
  width:79px;
  height:22px;
  font-size:12px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u72 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:662px;
  top:30px;
  width:72px;
  height:22px;
  font-size:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
}
#u74 {
  position:absolute;
  left:2px;
  top:3px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:734px;
  top:30px;
  width:74px;
  height:22px;
  font-size:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:808px;
  top:30px;
  width:67px;
  height:22px;
  font-size:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
}
#u78 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:875px;
  top:30px;
  width:67px;
  height:22px;
  font-size:12px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
}
#u80 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:52px;
  width:80px;
  height:20px;
  font-size:12px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:80px;
  top:52px;
  width:91px;
  height:20px;
  font-size:12px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:171px;
  top:52px;
  width:70px;
  height:20px;
  font-size:12px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:241px;
  top:52px;
  width:82px;
  height:20px;
  font-size:12px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:323px;
  top:52px;
  width:73px;
  height:20px;
  font-size:12px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:396px;
  top:52px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:446px;
  top:52px;
  width:37px;
  height:20px;
  font-size:12px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:483px;
  top:52px;
  width:47px;
  height:20px;
  font-size:12px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:530px;
  top:52px;
  width:53px;
  height:20px;
  font-size:12px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:583px;
  top:52px;
  width:79px;
  height:20px;
  font-size:12px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:662px;
  top:52px;
  width:72px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  color:#FF0000;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:734px;
  top:52px;
  width:74px;
  height:20px;
  font-size:12px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:808px;
  top:52px;
  width:67px;
  height:20px;
  font-size:12px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:875px;
  top:52px;
  width:67px;
  height:20px;
  font-size:12px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:72px;
  width:80px;
  height:20px;
  font-size:12px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:80px;
  top:72px;
  width:91px;
  height:20px;
  font-size:12px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:171px;
  top:72px;
  width:70px;
  height:20px;
  font-size:12px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:241px;
  top:72px;
  width:82px;
  height:20px;
  font-size:12px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:323px;
  top:72px;
  width:73px;
  height:20px;
  font-size:12px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:396px;
  top:72px;
  width:50px;
  height:20px;
  font-size:12px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:446px;
  top:72px;
  width:37px;
  height:20px;
  font-size:12px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:483px;
  top:72px;
  width:47px;
  height:20px;
  font-size:12px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:530px;
  top:72px;
  width:53px;
  height:20px;
  font-size:12px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:583px;
  top:72px;
  width:79px;
  height:20px;
  font-size:12px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:662px;
  top:72px;
  width:72px;
  height:20px;
  font-size:12px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:734px;
  top:72px;
  width:74px;
  height:20px;
  font-size:12px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u132 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:808px;
  top:72px;
  width:67px;
  height:20px;
  font-size:12px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:875px;
  top:72px;
  width:67px;
  height:20px;
  font-size:12px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u136 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:0px;
  top:92px;
  width:80px;
  height:35px;
  font-size:12px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u138 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:80px;
  top:92px;
  width:91px;
  height:35px;
  font-size:12px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
}
#u140 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:171px;
  top:92px;
  width:70px;
  height:35px;
  font-size:12px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
}
#u142 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:241px;
  top:92px;
  width:82px;
  height:35px;
  font-size:12px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:35px;
}
#u144 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:323px;
  top:92px;
  width:73px;
  height:35px;
  font-size:12px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
}
#u146 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:396px;
  top:92px;
  width:50px;
  height:35px;
  font-size:12px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u148 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:446px;
  top:92px;
  width:37px;
  height:35px;
  font-size:12px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
}
#u150 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:483px;
  top:92px;
  width:47px;
  height:35px;
  font-size:12px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u152 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:530px;
  top:92px;
  width:53px;
  height:35px;
  font-size:12px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:35px;
}
#u154 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:583px;
  top:92px;
  width:79px;
  height:35px;
  font-size:12px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
}
#u156 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:662px;
  top:92px;
  width:72px;
  height:35px;
  font-size:12px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
}
#u158 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:734px;
  top:92px;
  width:74px;
  height:35px;
  font-size:12px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
}
#u160 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:808px;
  top:92px;
  width:67px;
  height:35px;
  font-size:12px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u162 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:875px;
  top:92px;
  width:67px;
  height:35px;
  font-size:12px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:35px;
}
#u164 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:7px;
  top:38px;
  width:87px;
  height:25px;
}
#u165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u166 {
  position:absolute;
  left:94px;
  top:38px;
  width:87px;
  height:25px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u167 {
  position:absolute;
  left:9px;
  top:227px;
  width:941px;
  height:153px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:153px;
}
#u168 {
  position:absolute;
  left:0px;
  top:12px;
  width:941px;
  word-wrap:break-word;
}
