body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:25px;
  top:225px;
  width:85px;
  height:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u1 {
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:222px;
  width:175px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:4px;
  top:5px;
  width:120px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:134px;
  top:6px;
  width:166px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1px;
  top:451px;
  width:305px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:143px;
  top:457px;
  width:157px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:318px;
  top:7px;
  width:452px;
  height:473px;
  font-size:14px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:473px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:25px;
  top:92px;
  width:59px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:120px;
  top:90px;
  width:175px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:25px;
  top:133px;
  width:70px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:120px;
  top:130px;
  width:175px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:107px;
  top:349px;
  width:91px;
  height:20px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:343px;
  top:338px;
  width:362px;
  height:132px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:132px;
}
#u24 {
  position:absolute;
  left:2px;
  top:58px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:25px;
  top:265px;
  width:85px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:120px;
  top:262px;
  width:175px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:87px;
  top:379px;
  width:133px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:2px;
  width:133px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:25px;
  top:178px;
  width:85px;
  height:20px;
  color:#0000FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:120px;
  top:175px;
  width:175px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
