body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:954px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:350px;
  top:414px;
  width:305px;
  height:106px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:106px;
}
#u1 {
  position:absolute;
  left:2px;
  top:45px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:19px;
  top:42px;
  width:70px;
  height:20px;
  color:#0000FF;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:109px;
  top:37px;
  width:180px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u5 {
  position:absolute;
  left:19px;
  top:76px;
  width:70px;
  height:20px;
  color:#0000FF;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u6 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:104px;
  top:350px;
  width:101px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:4px;
  top:5px;
  width:120px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:124px;
  top:7px;
  width:186px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1px;
  top:488px;
  width:308px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:144px;
  top:494px;
  width:162px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:130px;
  top:76px;
  width:160px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u19 {
  position:absolute;
  left:410px;
  top:290px;
  width:27px;
  height:22px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:410px;
  top:337px;
  width:27px;
  height:22px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:440px;
  top:337px;
  width:27px;
  height:22px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:472px;
  top:337px;
  width:27px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:504px;
  top:337px;
  width:27px;
  height:22px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:534px;
  top:337px;
  width:27px;
  height:22px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:566px;
  top:337px;
  width:27px;
  height:22px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:410px;
  top:362px;
  width:27px;
  height:22px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:440px;
  top:362px;
  width:27px;
  height:22px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:472px;
  top:362px;
  width:27px;
  height:22px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:504px;
  top:362px;
  width:27px;
  height:22px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:534px;
  top:362px;
  width:27px;
  height:22px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31 {
  position:absolute;
  left:566px;
  top:362px;
  width:27px;
  height:22px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32 {
  position:absolute;
  left:396px;
  top:386px;
  width:27px;
  height:22px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:428px;
  top:386px;
  width:27px;
  height:22px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34 {
  position:absolute;
  left:458px;
  top:386px;
  width:27px;
  height:22px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:490px;
  top:386px;
  width:27px;
  height:22px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:520px;
  top:386px;
  width:27px;
  height:22px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:552px;
  top:386px;
  width:27px;
  height:22px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:440px;
  top:290px;
  width:27px;
  height:22px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:472px;
  top:290px;
  width:27px;
  height:22px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u40 {
  position:absolute;
  left:504px;
  top:290px;
  width:27px;
  height:22px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:534px;
  top:290px;
  width:27px;
  height:22px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42 {
  position:absolute;
  left:566px;
  top:290px;
  width:27px;
  height:22px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u43 {
  position:absolute;
  left:410px;
  top:314px;
  width:27px;
  height:22px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u44 {
  position:absolute;
  left:440px;
  top:314px;
  width:27px;
  height:22px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45 {
  position:absolute;
  left:472px;
  top:314px;
  width:27px;
  height:22px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u46 {
  position:absolute;
  left:504px;
  top:314px;
  width:27px;
  height:22px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:534px;
  top:314px;
  width:27px;
  height:22px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48 {
  position:absolute;
  left:566px;
  top:314px;
  width:27px;
  height:22px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u49 {
  position:absolute;
  left:582px;
  top:386px;
  width:27px;
  height:22px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50 {
  position:absolute;
  left:356px;
  top:418px;
  width:27px;
  height:22px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u51 {
  position:absolute;
  left:356px;
  top:494px;
  width:27px;
  height:22px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u52 {
  position:absolute;
  left:388px;
  top:494px;
  width:27px;
  height:22px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:422px;
  top:494px;
  width:27px;
  height:22px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54 {
  position:absolute;
  left:454px;
  top:494px;
  width:27px;
  height:22px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:488px;
  top:494px;
  width:27px;
  height:22px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:522px;
  top:494px;
  width:27px;
  height:22px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:384px;
  top:418px;
  width:27px;
  height:22px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u58 {
  position:absolute;
  left:414px;
  top:418px;
  width:27px;
  height:22px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u59 {
  position:absolute;
  left:444px;
  top:418px;
  width:27px;
  height:22px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u60 {
  position:absolute;
  left:474px;
  top:418px;
  width:27px;
  height:22px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u61 {
  position:absolute;
  left:504px;
  top:418px;
  width:27px;
  height:22px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:534px;
  top:418px;
  width:27px;
  height:22px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u63 {
  position:absolute;
  left:356px;
  top:445px;
  width:27px;
  height:22px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u64 {
  position:absolute;
  left:388px;
  top:445px;
  width:27px;
  height:22px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u65 {
  position:absolute;
  left:422px;
  top:445px;
  width:27px;
  height:22px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u66 {
  position:absolute;
  left:454px;
  top:445px;
  width:27px;
  height:22px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:488px;
  top:445px;
  width:27px;
  height:22px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68 {
  position:absolute;
  left:522px;
  top:445px;
  width:27px;
  height:22px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69 {
  position:absolute;
  left:356px;
  top:469px;
  width:27px;
  height:22px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:388px;
  top:469px;
  width:27px;
  height:22px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:422px;
  top:469px;
  width:27px;
  height:22px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u72 {
  position:absolute;
  left:454px;
  top:469px;
  width:27px;
  height:22px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u73 {
  position:absolute;
  left:488px;
  top:469px;
  width:27px;
  height:22px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u74 {
  position:absolute;
  left:522px;
  top:469px;
  width:27px;
  height:22px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u75 {
  position:absolute;
  left:554px;
  top:494px;
  width:27px;
  height:22px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u76 {
  position:absolute;
  left:562px;
  top:418px;
  width:27px;
  height:22px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u77 {
  position:absolute;
  left:594px;
  top:418px;
  width:27px;
  height:22px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u78 {
  position:absolute;
  left:622px;
  top:418px;
  width:27px;
  height:22px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u79 {
  position:absolute;
  left:554px;
  top:445px;
  width:27px;
  height:22px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u80 {
  position:absolute;
  left:588px;
  top:445px;
  width:27px;
  height:22px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u81 {
  position:absolute;
  left:554px;
  top:469px;
  width:27px;
  height:22px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u82 {
  position:absolute;
  left:588px;
  top:469px;
  width:27px;
  height:22px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u83 {
  position:absolute;
  left:588px;
  top:494px;
  width:27px;
  height:22px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u84 {
  position:absolute;
  left:622px;
  top:445px;
  width:27px;
  height:22px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u85 {
  position:absolute;
  left:622px;
  top:469px;
  width:27px;
  height:22px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u86 {
  position:absolute;
  left:622px;
  top:494px;
  width:27px;
  height:22px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u87 {
  position:absolute;
  left:109px;
  top:76px;
  width:21px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:center;
}
#u88 {
  position:absolute;
  left:349px;
  top:75px;
  width:191px;
  height:25px;
  text-align:left;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
}
#u89 {
  position:absolute;
  left:2px;
  top:4px;
  width:187px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:349px;
  top:88px;
  width:-59px;
  height:0px;
}
#u90_seg0 {
  position:absolute;
  left:-63px;
  top:-10px;
  width:73px;
  height:20px;
}
#u91 {
  position:absolute;
  left:-80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:540px;
  top:88px;
  width:-36px;
  height:197px;
}
#u92_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u92_seg1 {
  position:absolute;
  left:0px;
  top:-10px;
  width:20px;
  height:182px;
}
#u92_seg2 {
  position:absolute;
  left:-46px;
  top:152px;
  width:66px;
  height:20px;
}
#u92_seg3 {
  position:absolute;
  left:-46px;
  top:152px;
  width:20px;
  height:49px;
}
#u93 {
  position:absolute;
  left:-40px;
  top:108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:349px;
  top:34px;
  width:191px;
  height:31px;
  text-align:left;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:31px;
}
#u95 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:394px;
  top:285px;
  width:221px;
  height:124px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:124px;
}
#u97 {
  position:absolute;
  left:2px;
  top:54px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:349px;
  top:50px;
  width:-61px;
  height:0px;
}
#u98_seg0 {
  position:absolute;
  left:-65px;
  top:-10px;
  width:75px;
  height:20px;
}
#u99 {
  position:absolute;
  left:-80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:245px;
  top:334px;
  width:135px;
  height:58px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:58px;
}
#u101 {
  position:absolute;
  left:2px;
  top:5px;
  width:131px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:205px;
  top:362px;
  width:40px;
  height:1px;
}
#u102_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:15px;
}
#u102_seg1 {
  position:absolute;
  left:-10px;
  top:-9px;
  width:54px;
  height:20px;
}
#u103 {
  position:absolute;
  left:-30px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:19px;
  top:145px;
  width:70px;
  height:20px;
  color:#0000FF;
  text-align:center;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u105 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:109px;
  top:145px;
  width:181px;
  height:25px;
}
#u106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u107 {
  position:absolute;
  left:349px;
  top:184px;
  width:-61px;
  height:-28px;
}
#u107_seg0 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:24px;
  height:20px;
}
#u107_seg1 {
  position:absolute;
  left:-20px;
  top:-38px;
  width:20px;
  height:48px;
}
#u107_seg2 {
  position:absolute;
  left:-65px;
  top:-38px;
  width:65px;
  height:20px;
}
#u108 {
  position:absolute;
  left:-66px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:53px;
  top:288px;
  width:87px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u110 {
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u109_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u111 {
  position:absolute;
  left:203px;
  top:288px;
  width:87px;
  height:17px;
  font-size:14px;
  color:#0000FF;
}
#u112 {
  position:absolute;
  left:16px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u111_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u113 {
  position:absolute;
  left:622px;
  top:7px;
  width:332px;
  height:393px;
  font-family:'等线 Regular', '等线';
  font-size:14px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:393px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:328px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:19px;
  top:179px;
  width:70px;
  height:20px;
  color:#0000FF;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u116 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:109px;
  top:179px;
  width:181px;
  height:25px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u118 {
  position:absolute;
  left:19px;
  top:213px;
  width:70px;
  height:20px;
  color:#0000FF;
  text-align:center;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u119 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:109px;
  top:213px;
  width:181px;
  height:25px;
}
#u120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u121 {
  position:absolute;
  left:349px;
  top:184px;
  width:-61px;
  height:10px;
}
#u121_seg0 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:24px;
  height:20px;
}
#u121_seg1 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:20px;
  height:30px;
}
#u121_seg2 {
  position:absolute;
  left:-65px;
  top:0px;
  width:65px;
  height:20px;
}
#u122 {
  position:absolute;
  left:-76px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:349px;
  top:184px;
  width:-61px;
  height:42px;
}
#u123_seg0 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:24px;
  height:20px;
}
#u123_seg1 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:20px;
  height:62px;
}
#u123_seg2 {
  position:absolute;
  left:-65px;
  top:32px;
  width:65px;
  height:20px;
}
#u124 {
  position:absolute;
  left:-60px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:19px;
  top:250px;
  width:70px;
  height:20px;
  color:#0000FF;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u126 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:109px;
  top:250px;
  width:181px;
  height:25px;
}
#u127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u128 {
  position:absolute;
  left:349px;
  top:184px;
  width:-59px;
  height:80px;
}
#u128_seg0 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:24px;
  height:20px;
}
#u128_seg1 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:20px;
  height:100px;
}
#u128_seg2 {
  position:absolute;
  left:-63px;
  top:70px;
  width:63px;
  height:20px;
}
#u129 {
  position:absolute;
  left:-60px;
  top:52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:19px;
  top:110px;
  width:70px;
  height:20px;
  color:#0000FF;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u131 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:109px;
  top:110px;
  width:181px;
  height:25px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u133 {
  position:absolute;
  left:349px;
  top:109px;
  width:131px;
  height:151px;
  text-align:left;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:151px;
}
#u134 {
  position:absolute;
  left:2px;
  top:20px;
  width:127px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:349px;
  top:184px;
  width:-59px;
  height:-62px;
}
#u135_seg0 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:24px;
  height:20px;
}
#u135_seg1 {
  position:absolute;
  left:-20px;
  top:-72px;
  width:20px;
  height:82px;
}
#u135_seg2 {
  position:absolute;
  left:-63px;
  top:-72px;
  width:63px;
  height:20px;
}
#u136 {
  position:absolute;
  left:-60px;
  top:-58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
