body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:4px;
  top:5px;
  width:120px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:136px;
  top:7px;
  width:164px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1px;
  top:451px;
  width:308px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:144px;
  top:457px;
  width:162px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:29px;
  top:78px;
  width:66px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:29px;
  top:44px;
  width:66px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u13 {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:112px;
  top:43px;
  width:179px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:29px;
  top:142px;
  width:66px;
  height:20px;
  color:#0000FF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:-12px;
  width:66px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:112px;
  top:141px;
  width:179px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#0000FF;
  text-align:left;
}
#u18 {
  position:absolute;
  left:341px;
  top:170px;
  width:369px;
  height:43px;
  color:#0000FF;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:43px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:365px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:526px;
  top:170px;
  width:-236px;
  height:-14px;
  color:#0000FF;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-24px;
  width:20px;
  height:28px;
}
#u20_seg1 {
  position:absolute;
  left:-240px;
  top:-24px;
  width:250px;
  height:20px;
}
#u21 {
  position:absolute;
  left:-161px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:43px;
  top:244px;
  width:92px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:171px;
  top:244px;
  width:92px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24 {
  position:absolute;
  left:44px;
  top:187px;
  width:92px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:171px;
  top:187px;
  width:92px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:61px;
  top:282px;
  width:23px;
  height:16px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:61px;
  top:316px;
  width:23px;
  height:16px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:86px;
  top:316px;
  width:23px;
  height:16px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:114px;
  top:316px;
  width:23px;
  height:16px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30 {
  position:absolute;
  left:139px;
  top:316px;
  width:23px;
  height:16px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u31 {
  position:absolute;
  left:165px;
  top:316px;
  width:23px;
  height:16px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u32 {
  position:absolute;
  left:194px;
  top:316px;
  width:23px;
  height:16px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33 {
  position:absolute;
  left:61px;
  top:333px;
  width:23px;
  height:16px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34 {
  position:absolute;
  left:86px;
  top:333px;
  width:23px;
  height:16px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:114px;
  top:333px;
  width:23px;
  height:16px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:139px;
  top:333px;
  width:23px;
  height:16px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:165px;
  top:333px;
  width:23px;
  height:16px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:194px;
  top:333px;
  width:23px;
  height:16px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:49px;
  top:352px;
  width:23px;
  height:16px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u40 {
  position:absolute;
  left:76px;
  top:352px;
  width:23px;
  height:16px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:102px;
  top:352px;
  width:23px;
  height:16px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42 {
  position:absolute;
  left:127px;
  top:352px;
  width:23px;
  height:16px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u43 {
  position:absolute;
  left:154px;
  top:352px;
  width:23px;
  height:16px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u44 {
  position:absolute;
  left:182px;
  top:352px;
  width:23px;
  height:16px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45 {
  position:absolute;
  left:86px;
  top:282px;
  width:23px;
  height:16px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u46 {
  position:absolute;
  left:114px;
  top:282px;
  width:23px;
  height:16px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:139px;
  top:282px;
  width:23px;
  height:16px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48 {
  position:absolute;
  left:165px;
  top:282px;
  width:23px;
  height:16px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u49 {
  position:absolute;
  left:194px;
  top:282px;
  width:23px;
  height:16px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50 {
  position:absolute;
  left:61px;
  top:299px;
  width:23px;
  height:16px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u51 {
  position:absolute;
  left:86px;
  top:299px;
  width:23px;
  height:16px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u52 {
  position:absolute;
  left:114px;
  top:299px;
  width:23px;
  height:16px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53 {
  position:absolute;
  left:139px;
  top:299px;
  width:23px;
  height:16px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54 {
  position:absolute;
  left:165px;
  top:299px;
  width:23px;
  height:16px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55 {
  position:absolute;
  left:194px;
  top:299px;
  width:23px;
  height:16px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:206px;
  top:352px;
  width:23px;
  height:16px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:13px;
  top:375px;
  width:23px;
  height:16px;
}
#u57_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u58 {
  position:absolute;
  left:13px;
  top:431px;
  width:23px;
  height:16px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u59 {
  position:absolute;
  left:43px;
  top:431px;
  width:23px;
  height:16px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u60 {
  position:absolute;
  left:71px;
  top:431px;
  width:23px;
  height:16px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u61 {
  position:absolute;
  left:98px;
  top:431px;
  width:23px;
  height:16px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u62 {
  position:absolute;
  left:127px;
  top:431px;
  width:23px;
  height:16px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u63 {
  position:absolute;
  left:155px;
  top:431px;
  width:23px;
  height:16px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u64 {
  position:absolute;
  left:39px;
  top:375px;
  width:23px;
  height:16px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u65 {
  position:absolute;
  left:64px;
  top:375px;
  width:23px;
  height:16px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u66 {
  position:absolute;
  left:89px;
  top:375px;
  width:23px;
  height:16px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:115px;
  top:375px;
  width:23px;
  height:16px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68 {
  position:absolute;
  left:142px;
  top:375px;
  width:23px;
  height:16px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69 {
  position:absolute;
  left:165px;
  top:375px;
  width:23px;
  height:16px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70 {
  position:absolute;
  left:13px;
  top:395px;
  width:23px;
  height:16px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71 {
  position:absolute;
  left:43px;
  top:395px;
  width:23px;
  height:16px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u72 {
  position:absolute;
  left:71px;
  top:395px;
  width:23px;
  height:16px;
}
#u72_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u73 {
  position:absolute;
  left:98px;
  top:395px;
  width:23px;
  height:16px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u74 {
  position:absolute;
  left:127px;
  top:395px;
  width:23px;
  height:16px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u75 {
  position:absolute;
  left:155px;
  top:395px;
  width:23px;
  height:16px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u76 {
  position:absolute;
  left:13px;
  top:413px;
  width:23px;
  height:16px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u77 {
  position:absolute;
  left:43px;
  top:413px;
  width:23px;
  height:16px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u78 {
  position:absolute;
  left:71px;
  top:413px;
  width:23px;
  height:16px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u79 {
  position:absolute;
  left:98px;
  top:413px;
  width:23px;
  height:16px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u80 {
  position:absolute;
  left:127px;
  top:413px;
  width:23px;
  height:16px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u81 {
  position:absolute;
  left:155px;
  top:413px;
  width:23px;
  height:16px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u82 {
  position:absolute;
  left:184px;
  top:431px;
  width:23px;
  height:16px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u83 {
  position:absolute;
  left:193px;
  top:375px;
  width:23px;
  height:16px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u84 {
  position:absolute;
  left:216px;
  top:375px;
  width:23px;
  height:16px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u85 {
  position:absolute;
  left:243px;
  top:375px;
  width:23px;
  height:16px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u86 {
  position:absolute;
  left:184px;
  top:395px;
  width:23px;
  height:16px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u87 {
  position:absolute;
  left:213px;
  top:395px;
  width:23px;
  height:16px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u88 {
  position:absolute;
  left:184px;
  top:413px;
  width:23px;
  height:16px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u89 {
  position:absolute;
  left:213px;
  top:413px;
  width:23px;
  height:16px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u90 {
  position:absolute;
  left:213px;
  top:431px;
  width:23px;
  height:16px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u91 {
  position:absolute;
  left:241px;
  top:395px;
  width:23px;
  height:16px;
}
#u91_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u92 {
  position:absolute;
  left:241px;
  top:413px;
  width:23px;
  height:16px;
}
#u92_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u93 {
  position:absolute;
  left:241px;
  top:431px;
  width:23px;
  height:16px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u94 {
  position:absolute;
  left:45px;
  top:279px;
  width:189px;
  height:91px;
  font-size:11px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:91px;
}
#u95 {
  position:absolute;
  left:2px;
  top:38px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:10px;
  top:373px;
  width:260px;
  height:78px;
  font-size:11px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:78px;
}
#u97 {
  position:absolute;
  left:2px;
  top:31px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:30px;
  top:94px;
  width:15px;
  height:266px;
}
#u98_seg0 {
  position:absolute;
  left:-30px;
  top:-10px;
  width:34px;
  height:20px;
}
#u98_seg1 {
  position:absolute;
  left:-30px;
  top:-10px;
  width:20px;
  height:286px;
}
#u98_seg2 {
  position:absolute;
  left:-30px;
  top:256px;
  width:49px;
  height:20px;
}
#u99 {
  position:absolute;
  left:-70px;
  top:132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:341px;
  top:7px;
  width:369px;
  height:123px;
  color:#0000FF;
  text-align:left;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:123px;
}
#u101 {
  position:absolute;
  left:2px;
  top:6px;
  width:365px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:341px;
  top:68px;
  width:-51px;
  height:-18px;
}
#u102_seg0 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:24px;
  height:20px;
}
#u102_seg1 {
  position:absolute;
  left:-20px;
  top:-28px;
  width:20px;
  height:38px;
}
#u102_seg2 {
  position:absolute;
  left:-55px;
  top:-28px;
  width:55px;
  height:20px;
}
#u103 {
  position:absolute;
  left:-66px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:341px;
  top:65px;
  width:-51px;
  height:24px;
}
#u104_seg0 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:24px;
  height:20px;
}
#u104_seg1 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:20px;
  height:44px;
}
#u104_seg2 {
  position:absolute;
  left:-55px;
  top:14px;
  width:55px;
  height:20px;
}
#u105 {
  position:absolute;
  left:-64px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:341px;
  top:237px;
  width:369px;
  height:53px;
  color:#0000FF;
  text-align:left;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:53px;
}
#u107 {
  position:absolute;
  left:2px;
  top:2px;
  width:365px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:341px;
  top:307px;
  width:369px;
  height:53px;
  color:#0000FF;
  text-align:left;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:53px;
}
#u109 {
  position:absolute;
  left:2px;
  top:10px;
  width:365px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:29px;
  top:110px;
  width:66px;
  height:20px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u111 {
  position:absolute;
  left:0px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:112px;
  top:107px;
  width:179px;
  height:25px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u113 {
  position:absolute;
  left:112px;
  top:75px;
  width:178px;
  height:22px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
