body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6px;
  top:5px;
  width:122px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:111px;
  top:7px;
  width:62px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:173px;
  top:7px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:287px;
  top:7px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:403px;
  top:7px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:513px;
  top:7px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:624px;
  top:7px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:722px;
  top:7px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:816px;
  top:7px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:451px;
  width:950px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:808px;
  top:457px;
  width:133px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:6px;
  top:71px;
  width:932px;
  height:139px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u26 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:51px;
  top:0px;
  width:118px;
  height:34px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
}
#u28 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:169px;
  top:0px;
  width:84px;
  height:34px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:253px;
  top:0px;
  width:107px;
  height:34px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:34px;
}
#u32 {
  position:absolute;
  left:2px;
  top:9px;
  width:103px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:360px;
  top:0px;
  width:75px;
  height:34px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u34 {
  position:absolute;
  left:2px;
  top:9px;
  width:71px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:435px;
  top:0px;
  width:70px;
  height:34px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u36 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:505px;
  top:0px;
  width:84px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u38 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:589px;
  top:0px;
  width:84px;
  height:34px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u40 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:673px;
  top:0px;
  width:84px;
  height:34px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u42 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:757px;
  top:0px;
  width:84px;
  height:34px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:34px;
}
#u44 {
  position:absolute;
  left:2px;
  top:9px;
  width:80px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:841px;
  top:0px;
  width:86px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF0000;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:34px;
}
#u46 {
  position:absolute;
  left:2px;
  top:9px;
  width:82px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:34px;
  width:51px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:51px;
  top:34px;
  width:118px;
  height:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:169px;
  top:34px;
  width:84px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:253px;
  top:34px;
  width:107px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:360px;
  top:34px;
  width:75px;
  height:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:435px;
  top:34px;
  width:70px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:505px;
  top:34px;
  width:84px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:589px;
  top:34px;
  width:84px;
  height:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:673px;
  top:34px;
  width:84px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:757px;
  top:34px;
  width:84px;
  height:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:841px;
  top:34px;
  width:86px;
  height:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u68 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:54px;
  width:51px;
  height:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:51px;
  top:54px;
  width:118px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:169px;
  top:54px;
  width:84px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:253px;
  top:54px;
  width:107px;
  height:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u76 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:360px;
  top:54px;
  width:75px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:435px;
  top:54px;
  width:70px;
  height:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:505px;
  top:54px;
  width:84px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:589px;
  top:54px;
  width:84px;
  height:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:673px;
  top:54px;
  width:84px;
  height:20px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:757px;
  top:54px;
  width:84px;
  height:20px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:841px;
  top:54px;
  width:86px;
  height:20px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:74px;
  width:51px;
  height:20px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:51px;
  top:74px;
  width:118px;
  height:20px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:169px;
  top:74px;
  width:84px;
  height:20px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:253px;
  top:74px;
  width:107px;
  height:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:360px;
  top:74px;
  width:75px;
  height:20px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:435px;
  top:74px;
  width:70px;
  height:20px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u102 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:505px;
  top:74px;
  width:84px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u104 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:589px;
  top:74px;
  width:84px;
  height:20px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:673px;
  top:74px;
  width:84px;
  height:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u108 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:757px;
  top:74px;
  width:84px;
  height:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u110 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:841px;
  top:74px;
  width:86px;
  height:20px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u112 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:94px;
  width:51px;
  height:20px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:51px;
  top:94px;
  width:118px;
  height:20px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:169px;
  top:94px;
  width:84px;
  height:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:253px;
  top:94px;
  width:107px;
  height:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:360px;
  top:94px;
  width:75px;
  height:20px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u122 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:435px;
  top:94px;
  width:70px;
  height:20px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:505px;
  top:94px;
  width:84px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:589px;
  top:94px;
  width:84px;
  height:20px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:673px;
  top:94px;
  width:84px;
  height:20px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u130 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:757px;
  top:94px;
  width:84px;
  height:20px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u132 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:841px;
  top:94px;
  width:86px;
  height:20px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u134 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:0px;
  top:114px;
  width:51px;
  height:20px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u136 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:51px;
  top:114px;
  width:118px;
  height:20px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
}
#u138 {
  position:absolute;
  left:2px;
  top:2px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:169px;
  top:114px;
  width:84px;
  height:20px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u140 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:253px;
  top:114px;
  width:107px;
  height:20px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u142 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:360px;
  top:114px;
  width:75px;
  height:20px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
}
#u144 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:435px;
  top:114px;
  width:70px;
  height:20px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u146 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:505px;
  top:114px;
  width:84px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0000FF;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u148 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:589px;
  top:114px;
  width:84px;
  height:20px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u150 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:673px;
  top:114px;
  width:84px;
  height:20px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u152 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:757px;
  top:114px;
  width:84px;
  height:20px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
}
#u154 {
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:841px;
  top:114px;
  width:86px;
  height:20px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u156 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
