body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:108px;
  top:50px;
  width:180px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:18px;
  top:85px;
  width:92px;
  height:20px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u2 {
  position:absolute;
  left:0px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:108px;
  top:85px;
  width:180px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:4px;
  top:5px;
  width:120px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:124px;
  top:7px;
  width:181px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1px;
  top:451px;
  width:308px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:144px;
  top:457px;
  width:162px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:18px;
  top:49px;
  width:70px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:305px;
  top:24px;
  width:300px;
  height:276px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:276px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:194px;
  top:400px;
  width:91px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  position:absolute;
  left:18px;
  top:120px;
  width:92px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:-12px;
  width:92px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:108px;
  top:120px;
  width:180px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:18px;
  top:166px;
  width:92px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:108px;
  top:166px;
  width:180px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:108px;
  top:201px;
  width:180px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:18px;
  top:200px;
  width:70px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:108px;
  top:234px;
  width:180px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:18px;
  top:234px;
  width:70px;
  height:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:60px;
  top:350px;
  width:70px;
  height:20px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:178px;
  top:350px;
  width:70px;
  height:20px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
