body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:682px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:57px;
  width:59px;
  height:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u1 {
  position:absolute;
  left:0px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:109px;
  top:58px;
  width:191px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:19px;
  top:168px;
  width:70px;
  height:20px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u4 {
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:109px;
  top:168px;
  width:191px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  background-image:;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:4px;
  top:5px;
  width:120px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:134px;
  top:6px;
  width:166px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1px;
  top:451px;
  width:305px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:143px;
  top:457px;
  width:157px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:350px;
  top:7px;
  width:332px;
  height:473px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:473px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:109px;
  top:330px;
  width:91px;
  height:20px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:2px;
  width:91px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:40px;
  top:370px;
  width:250px;
  height:40px;
  color:#FF0000;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u21 {
  position:absolute;
  left:0px;
  top:4px;
  width:250px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:30px;
  top:96px;
  width:59px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:109px;
  top:96px;
  width:191px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  background-image:;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:30px;
  top:131px;
  width:59px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:109px;
  top:131px;
  width:191px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:25px;
  background-image:;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:30px;
  top:224px;
  width:270px;
  height:40px;
  color:#FF0000;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u29 {
  position:absolute;
  left:0px;
  top:12px;
  width:270px;
  word-wrap:break-word;
}
