body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:979px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:93px;
  width:65px;
  height:20px;
  color:#0000FF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:91px;
  width:230px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:20px;
  top:43px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4 {
  position:absolute;
  left:120px;
  top:43px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:30px;
  top:201px;
  width:60px;
  height:20px;
  color:#0000FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:90px;
  top:199px;
  width:120px;
  height:22px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8 {
  position:absolute;
  left:345px;
  top:93px;
  width:65px;
  height:20px;
  color:#0000FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:415px;
  top:91px;
  width:480px;
  height:25px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:20px;
  top:128px;
  width:65px;
  height:20px;
  color:#0000FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:90px;
  top:126px;
  width:230px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:20px;
  top:163px;
  width:65px;
  height:20px;
  color:#0000FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:90px;
  top:161px;
  width:230px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:345px;
  top:128px;
  width:65px;
  height:20px;
  color:#0000FF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:415px;
  top:126px;
  width:195px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:345px;
  top:163px;
  width:65px;
  height:20px;
  color:#0000FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:415px;
  top:161px;
  width:195px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:345px;
  top:198px;
  width:65px;
  height:20px;
  color:#0000FF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:415px;
  top:196px;
  width:480px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:630px;
  top:128px;
  width:65px;
  height:20px;
  color:#0000FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:700px;
  top:126px;
  width:195px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:630px;
  top:163px;
  width:65px;
  height:20px;
  color:#0000FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:700px;
  top:161px;
  width:195px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:17px;
  top:5px;
  width:950px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:23px;
  top:10px;
  width:122px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:128px;
  top:12px;
  width:62px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:190px;
  top:12px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:304px;
  top:12px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:420px;
  top:12px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:530px;
  top:12px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:641px;
  top:12px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:739px;
  top:12px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:833px;
  top:12px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:22px;
  top:456px;
  width:957px;
  height:30px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:836px;
  top:462px;
  width:134px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
