body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:979px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:59px;
  width:100px;
  height:25px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1 {
  position:absolute;
  left:120px;
  top:59px;
  width:100px;
  height:25px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u2 {
  position:absolute;
  left:17px;
  top:19px;
  width:950px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:23px;
  top:24px;
  width:122px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:128px;
  top:26px;
  width:62px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:190px;
  top:26px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:304px;
  top:26px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:420px;
  top:26px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:530px;
  top:26px;
  width:82px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:641px;
  top:26px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:739px;
  top:26px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:833px;
  top:26px;
  width:65px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:22px;
  top:470px;
  width:957px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:836px;
  top:476px;
  width:134px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:206px;
  width:517px;
  height:257px;
  font-size:12px;
  color:#0000FF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:257px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:29px;
  top:108px;
  width:31px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:18px;
  top:138px;
  width:92px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:18px;
  top:170px;
  width:92px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:324px;
  top:108px;
  width:116px;
  height:15px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:304px;
  top:138px;
  width:110px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:418px;
  top:137px;
  width:44px;
  height:17px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:113px;
  top:108px;
  width:30px;
  height:16px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:180px;
  top:108px;
  width:101px;
  height:15px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:103px;
  top:138px;
  width:57px;
  height:17px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u44 {
  position:absolute;
  left:103px;
  top:169px;
  width:57px;
  height:17px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u45 {
  position:absolute;
  left:198px;
  top:136px;
  width:70px;
  height:21px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46 {
  position:absolute;
  left:198px;
  top:167px;
  width:70px;
  height:20px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
