body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:745px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:4px;
  top:5px;
  width:120px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:124px;
  top:7px;
  width:181px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1px;
  top:451px;
  width:308px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:144px;
  top:457px;
  width:162px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:18px;
  top:49px;
  width:70px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:-12px;
  width:70px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:330px;
  top:40px;
  width:415px;
  height:416px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:416px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:108px;
  top:50px;
  width:180px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:16px;
  top:381px;
  width:272px;
  height:32px;
  color:#FF0000;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:32px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:106px;
  top:421px;
  width:91px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:18px;
  top:165px;
  width:92px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:108px;
  top:165px;
  width:180px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:108px;
  top:200px;
  width:180px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:18px;
  top:199px;
  width:70px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:108px;
  top:233px;
  width:180px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:18px;
  top:233px;
  width:70px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:18px;
  top:101px;
  width:92px;
  height:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:108px;
  top:101px;
  width:180px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:18px;
  top:132px;
  width:92px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:4px;
  width:92px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:108px;
  top:132px;
  width:180px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:8px;
  top:275px;
  width:122px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u34 {
  position:absolute;
  left:130px;
  top:273px;
  width:158px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:24px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:8px;
  top:330px;
  width:122px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u37 {
  position:absolute;
  left:164px;
  top:330px;
  width:122px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
