body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:56px;
  width:180px;
  height:22px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:22px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1 {
  position:absolute;
  left:35px;
  top:89px;
  width:72px;
  height:20px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u2 {
  position:absolute;
  left:0px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:125px;
  top:87px;
  width:180px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:35px;
  top:162px;
  width:80px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:125px;
  top:157px;
  width:180px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:35px;
  top:190px;
  width:80px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u8 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:125px;
  top:188px;
  width:180px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:35px;
  top:222px;
  width:80px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:125px;
  top:220px;
  width:180px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:35px;
  top:253px;
  width:80px;
  height:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:125px;
  top:251px;
  width:180px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:21px;
  top:305px;
  width:100px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:4px;
  top:5px;
  width:120px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:125px;
  top:7px;
  width:165px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1px;
  top:451px;
  width:308px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:144px;
  top:457px;
  width:162px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:184px;
  top:405px;
  width:92px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:54px;
  top:407px;
  width:80px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:34px;
  top:411px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:346px;
  top:20px;
  width:364px;
  height:330px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:330px;
}
#u33 {
  position:absolute;
  left:0px;
  top:5px;
  width:364px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:35px;
  top:58px;
  width:59px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:346px;
  top:360px;
  width:355px;
  height:192px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:192px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:58px;
  top:360px;
  width:200px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:180px;
  top:305px;
  width:100px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:125px;
  top:122px;
  width:180px;
  height:25px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:left;
}
#u42 {
  position:absolute;
  left:35px;
  top:122px;
  width:80px;
  height:20px;
  color:#FF0000;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u43 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
