body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:309px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:22px;
  top:92px;
  width:72px;
  height:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
}
#u1 {
  position:absolute;
  left:0px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:22px;
  top:145px;
  width:70px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:35px;
  top:210px;
  width:80px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:22px;
  top:50px;
  width:80px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:4px;
  top:5px;
  width:120px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:136px;
  top:7px;
  width:156px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1px;
  top:451px;
  width:308px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:144px;
  top:457px;
  width:162px;
  height:19px;
  font-family:'Arial Black Oblique', 'Arial';
  font-weight:900;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:130px;
  top:214px;
  width:25px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:32px;
  top:380px;
  width:92px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21 {
  position:absolute;
  left:188px;
  top:380px;
  width:92px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:0px;
  top:240px;
  width:305px;
  height:130px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:130px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:112px;
  top:48px;
  width:178px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:112px;
  top:90px;
  width:180px;
  height:29px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:29px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u26 {
  position:absolute;
  left:112px;
  top:145px;
  width:178px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
